{% extends "layer.html" %}

<!-- update legend item key style -->
{% block extra_css %}
    .gradient.bordered, .legend-key.bordered { border: solid {{ line_color }} {{ line_width }}px; }
{% endblock extra_css %}

{% block extra_javascript %}
    {% if show_legend %}
        {% if extrude_choropleth %}
            {% if color_stops and color_property and height_property %}
                {% if color_property != height_property and extrude_choropleth %}
                    calcColorLegend({{ color_stops }}, "{{ color_property }} vs. {{ height_property }}", {{ layerId }}, "{{legend_key_shape}}", {{legend_gradient}}, {{legend_numeric_precision}}, "{{legend_layout}}" );
                {% else %}
                    calcColorLegend({{ color_stops }}, "{{ color_property }}", {{ layerId }}, "{{legend_key_shape}}", {{legend_gradient}}, {{legend_numeric_precision}}, "{{legend_layout}}" );
                {% endif %}
            {% endif %}
        {% else %}
            calcColorLegend({{ color_stops }}, "{{ color_property }}", {{ layerId }}, "{{legend_key_shape}}", {{legend_gradient}}, {{legend_numeric_precision}}, "{{legend_layout}}" );
        {% endif %}
    {% endif %}

    map.on('style.load', function() {
        
        {% block choropleth %}

        // Add geojson data source
        map.addSource("data{{ layerId }}", {
            "type": "geojson",
            "data": {{ geojson_data }},
            "buffer": 1,
            "maxzoom": 14
        });

        // Optional extrusion layer
        {% if extrude_choropleth %}

            map.addLayer({
                id: "choropleth-extrusion{{ layerId }}",
                source: "data{{ layerId }}",
                type: "fill-extrusion",
                paint: {
                    "fill-extrusion-opacity": {{ opacity }},
                    "fill-extrusion-color": generatePropertyExpression("{{ color_type }}", "{{ color_property }}", {{ color_stops }}, "{{ default_color }}"),
                    "fill-extrusion-height": generatePropertyExpression("{{ height_type }}", "{{ height_property }}", {{ height_stops }}, {{ default_height }}),
                }
            }, "{{ below_layer }}");

        {% else %}

            // Add data layer
            map.addLayer({
                "id": "choropleth-fill{{ layerId }}",
                "source": "data{{ layerId }}",
                "type": "fill",
                "paint": {
                    "fill-color": generatePropertyExpression("{{ color_type }}", "{{ color_property }}", {{ color_stops }}, "{{ default_color }}"),
                    "fill-opacity": {{ opacity }}
                }
            }, "{{ below_layer }}" );

            // Add border layer
            map.addLayer({
                "id": "choropleth-line{{ layerId }}",
                "source": "data{{ layerId }}",
                "type": "line",
                "layout": {
                    "line-join": "round",
                    "line-cap": "round"
                },
                "paint": {
                    {% if line_dash_array %}
                    "line-dasharray": {{ line_dash_array }},
                    {% endif %}
                    "line-color": "{{ line_color }}",
                    "line-width": {{ line_width }},
                    "line-opacity": {{ opacity }}
                }
            }, "{{ below_layer }}" );

            // Add label layer
            map.addLayer({
                "id": "choropleth-label{{ layerId }}",
                "source": "data{{ layerId }}",
                "type": "symbol",
                "layout": {
                    {% if labelProperty %}
                    "text-field": "{{ labelProperty }}",
                    {% endif %}
                    "text-size" : generateInterpolateExpression('zoom', [[0,8],[22,16]] ),
                    "text-offset": [0,-1]
                },
                "paint": {
                    "text-halo-color": "white",
                    "text-halo-width": 1
                }
            }, "{{ below_layer }}" );

        {% endif %}


        {% endblock choropleth %}

        {% block choropleth_popup %}

        {% if extrude_choropleth %}

            // Create a popup
            var popup{{ layerId }} = new mapboxgl.Popup({
                closeButton: false,
                closeOnClick: false
            });

            // Show the popup on mouseover
            map.on('mousemove', "choropleth-extrusion{{ layerId }}", function(e) {
                map.getCanvas().style.cursor = 'pointer';

                let f = e.features[0];
                let popup_html = '<div>';

                for (key in f.properties) {
                    popup_html += '<li><b> ' + key + '</b>: ' + f.properties[key] + ' </li>'
                }

                popup_html += '</div>'
                popup{{ layerId }}.setLngLat(e.lngLat)
                    .setHTML(popup_html)
                    .addTo(map);
            });
    9
            map.on('mouseleave', "choropleth-extrusion{{ layerId }}", function() {
                map.getCanvas().style.cursor = '';
                popup{{ layerId }}.remove();
            });

            // Fly to on click
            map.on('click', "choropleth-extrusion{{ layerId }}", function(e) {
                map.flyTo({
                    center: e.lngLat,
                    zoom: map.getZoom() + 1
                });
            });

        {% else %}

            // Show the popup on mouseover
            map.on('mousemove', "choropleth-fill{{ layerId }}", function(e) {
                map.getCanvas().style.cursor = 'pointer';

                let f = e.features[0];
                let popup_html = '<div>';

                for (key in f.properties) {
                    popup_html += '<li><b> ' + key + '</b>: ' + f.properties[key] + ' </li>'
                }

                popup_html += '</div>'
                popup{{ layerId }}.setLngLat(e.lngLat)
                    .setHTML(popup_html)
                    .addTo(map);
            });


            map.on('mouseleave', "choropleth-fill{{ layerId }}", function() {
                map.getCanvas().style.cursor = '';
                popup{{ layerId }}.remove();
            });

            // Fly to on click
            map.on('click', "choropleth-fill{{ layerId }}", function(e) {
                map.flyTo({
                    center: e.lngLat,
                    zoom: map.getZoom() + 1
                });
            });

        {% endif %}

    {% endblock choropleth_popup %}



    });
{% endblock extra_javascript %}
