{% extends "layer.html" %}

<!-- update legend item key style -->
{% block extra_css %}
    .gradient-bar.bordered, .legend-key.bordered { border: solid {{ stroke_color }} {{ color_width }}px; }
{% endblock extra_css %}

{% block extra_javascript %}
    
    {% if show_legend %}
        {% if color_stops and color_property and radiusProperty %}
            calcColorLegend({{ color_stops }}, "{{ color_property }} vs. {{ radiusProperty }}", {{ layerId }}, "{{legend_key_shape}}", {{legend_gradient}}, {{legend_numeric_precision}}, "{{legend_layout}}" );
        {% endif %}
    {% endif %}

    map.on('style.load', function() {
        
        map.addSource("data{{ layerId }}", {
            "type": "geojson",
            "data": {{ geojson_data }}, //data from dataframe output to geojson
            "buffer": 0,
            "maxzoom": 14
        });

        map.addLayer({
            "id": "label{{ layerId }}",
            "source": "data{{ layerId }}",
            "type": "symbol",
            "maxzoom": {{ maxZoom }},
            "minzoom": {{ minZoom }},
            "layout": {
                {% if labelProperty %}
                "text-field": "{{ labelProperty }}",
                {% endif %}
                "text-size" : generateInterpolateExpression('zoom', [[0, {{ label_size }}],[22, 3* {{ label_size }}]] ),
                "text-offset": [0,-1]
            },
            "paint": {
                "text-halo-color": "{{ label_halo_color }}",
                "text-halo-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ label_halo_width }}], [18,5* {{ label_halo_width }}]]),
                "text-color": "{{ label_color }}"
            }
        }, "{{below_layer}}" )

        map.addLayer({
            "id": "circle{{ layerId }}",
            "source": "data{{ layerId }}",
            "type": "circle",
            "maxzoom": {{ maxZoom }},
            "minzoom": {{ minZoom }},
            "paint": {
                {% if color_property %}
                    "circle-color": generatePropertyExpression("{{ color_type }}", "{{ color_property }}", {{ color_stops }}, "{{ default_color }}" ),
                    {% else %}
                    "circle-color": "{{ default_color }}",
                {% endif %}
                {% if radiusProperty %}
                    "circle-radius" : generatePropertyExpression("{{ radiusType }}", "{{ radiusProperty }}", {{ radius_stops }}, {{ defaultRadius }} ),
                    {% else %}
                    "circle-radius": {{ defaultRadius }},
                {% endif %}
                "circle-stroke-color": "{{ stroke_color }}",
                "circle-stroke-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ color_width }}], [18,5* {{ color_width }}]]),
                "circle-opacity" : {{ opacity }},
                "circle-stroke-opacity" : {{ opacity }}
            }
        }, "label{{ layerId }}");
        
        // Create a popup
        var popup{{ layerId }} = new mapboxgl.Popup({
            closeButton: false,
            closeOnClick: false
        });
        
        // Show the popup on mouseover
        map.on('mousemove', "circle{{ layerId }}", function(e) {
            map.getCanvas().style.cursor = 'pointer';
            let f = e.features[0];
            let popup_html = '<div><li><b>Location</b>: ' + f.geometry.coordinates[0].toPrecision(6) + 
                ', ' + f.geometry.coordinates[1].toPrecision(6) + '</li>';

            for (key in f.properties) {
                popup_html += '<li><b> ' + key + '</b>: ' + f.properties[key] + ' </li>'
            }

            popup_html += '</div>'

            popup{{ layerId }}.setLngLat(e.features[0].geometry.coordinates)
                .setHTML(popup_html)
                .addTo(map);
        });

        map.on('mouseleave', "circle{{ layerId }}", function() {
            map.getCanvas().style.cursor = '';
            popup{{ layerId }}.remove();
        });
        
        // Fly to on click
        map.on('click', "circle{{ layerId }}", function(e) {
            map.easeTo({
                center: e.features[0].geometry.coordinates,
                zoom: map.getZoom() + 1
            });
        });
    });
    
{% endblock extra_javascript %}
