{% extends "layer.html" %}

{% block extra_javascript %}

    map.on('style.load', function() {

        map.addSource("data{{ layerId }}", {
            "type": "geojson",
            "data": {{ geojson_data }}, //data from dataframe output to geojson
            "buffer": 0,
            "maxzoom": 14
        });

        map.addLayer({
            "id": "circle{{ layerId }}",
            "source": "data{{ layerId }}",
            "type": "heatmap",
            "maxzoom": {{ maxZoom }},
            "minzoom": {{ minZoom }},
            "paint": {
                {% if radius_stops %}
                    "heatmap-radius": generatePropertyExpression('interpolate', 'zoom', {{ radius_stops }}),
                {% endif %}
                {% if weight_property and weight_stops %}
                    "heatmap-weight": generateInterpolateExpression( "{{ weight_property }}", {{ weight_stops }} ),
                {% endif %}
                {% if intensity_stops %}
                    "heatmap-intensity": generateInterpolateExpression('zoom', {{ intensity_stops }} ),
                {% endif %}
                {% if color_stops %}
                    "heatmap-color" : generateInterpolateExpression('heatmap-density', {{ color_stops }} ),
                {% endif %}
                "heatmap-opacity" : {{ opacity }}
            }
        }, "{{below_layer}}" );

    });

{% endblock extra_javascript %}
