{% extends "layer.html" %}

{% block extra_javascript %}

    {% if show_legend %}
        {% if color_stops and color_property and width_property %}
            {% if color_property != width_property %}
                calcColorLegend({{ color_stops }}, "{{ color_property }} vs. {{ width_property }}", {{ layerId }}, "{{legend_key_shape}}", {{legend_gradient}}, {{legend_numeric_precision}}, "{{legend_layout}}" );
            {% else %}
                calcColorLegend({{ color_stops }}, "{{ color_property }}", {{ layerId }}, "{{legend_key_shape}}", {{legend_gradient}}, {{legend_numeric_precision}}, "{{legend_layout}}" );
            {% endif %}
        {% elif color_stops and color_property %}
            calcColorLegend({{ color_stops }}, "{{ color_property }}", {{ layerId }}, "{{legend_key_shape}}", {{legend_gradient}}, {{legend_numeric_precision}}, "{{legend_layout}}" );
        {% endif %}
    {% endif %}

    map.on('style.load', function() {
        
        {% block linestring %}

        // Add geojson data source
        map.addSource("data{{ layerId }}", {
            "type": "geojson",
            "data": {{ geojson_data }},
            "buffer": 1,
            "maxzoom": 14
        });

        // Add data layer
        map.addLayer({
            "id": "linestring{{ layerId }}",
            "source": "data{{ layerId }}",
            "type": "line",
            "layout": {
                "line-join": "round",
                "line-cap": "round"
            },
            "paint": {
                {% if line_dash_array %}
                    "line-dasharray": {{ line_dash_array }},
                {% endif %}
                {% if color_property %}
                    "line-color": generatePropertyExpression("{{ color_type }}", "{{ color_property }}", {{ color_stops }}, "{{ default_color }}"),
                {% else %}
                    "line-color": "{{ default_color }}",
                {% endif %}
                {% if width_property %}
                    "line-width": generatePropertyExpression("{{ width_type }}", "{{ width_property }}", {{ width_stops }}, {{ default_width }}),
                {% else %}
                    "line-width": {{ default_width }},
                {% endif %}
                "line-opacity": {{ opacity }}
            }
        }, "{{ below_layer }}" );

        // Add label layer
        map.addLayer({
            "id": "label{{ layerId }}",
            "source": "data{{ layerId }}",
            "type": "symbol",
            "layout": {
                {% if labelProperty %}
                "text-field": "{{ labelProperty }}",
                {% endif %}
                "text-size" : generateInterpolateExpression('zoom', [[0,8],[22,16]] ),
                "text-offset": [0,-1]
            },
            "paint": {
                "text-halo-color": "{{ label_halo_color }}",
                "text-halo-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ label_halo_width }}], [18,5* {{ label_halo_width }}]]),
                "text-color": "{{ label_color }}"
            }
        }, "{{below_layer}}" );

        {% endblock linestring %}
        
        {% block linestring_popup %}

        // Create a popup
        var popup{{ layerId }} = new mapboxgl.Popup({
            closeButton: false,
            closeOnClick: false
        });

        // Show the popup on mouseover
        map.on('mousemove', "linestring{{ layerId }}", function(e) {
            map.getCanvas().style.cursor = 'pointer';
            
            let f = e.features[0];
            let popup_html = '<div>';

            for (key in f.properties) {
                popup_html += '<li><b> ' + key + '</b>: ' + f.properties[key] + ' </li>'
            }

            popup_html += '</div>'
            popup{{ layerId }}.setLngLat(e.lngLat)
                .setHTML(popup_html)
                .addTo(map);
        });

        {% endblock linestring_popup %}

        map.on('mouseleave', "linestring{{ layerId }}", function() {
            map.getCanvas().style.cursor = '';
            popup{{ layerId }}.remove();
        });
        
        // Fly to on click
        map.on('click', "linestring{{ layerId }}", function(e) {
            map.flyTo({
                center: e.lngLat,
                zoom: map.getZoom() + 1
            });
        });

    });

{% endblock extra_javascript %}
