{% extends "linestring.html" %}

{% block linestring %}

    // extract JSON property used for data-driven styling to add to popup
    {% if join_data %}

        let join_data = {{ join_data }};
        var popUpKeys = {},
            line_widthPopUpKeys = {};

        // Create filter for layers from join data
        let layerFilter = ['in', "{{ vector_join_data_property }}"]
        
        join_data.forEach(function(row, index) {

            {% if color_property %}
                popUpKeys[row["{{ data_join_property }}"]] = row["{{ color_property }}"];
            {% endif %}

            {% if width_property %}
                {% if color_property != width_property %}
                    line_widthPopUpKeys[row["{{ data_join_property }}"]] = row["{{ width_property }}"];
                {% endif %}
            {% endif %}

            layerFilter.push(row["{{ data_join_property }}"]);
        });

    {% endif %}

    // Add vector data source
    map.addSource("data{{ layerId }}", {
        type: "vector",
        url: "{{ vector_url }}",
    });

    // Add data layer from the vector tile source with data-driven style
    map.addLayer({
        "id": "linestring{{ layerId }}",
        "source": "data{{ layerId }}",
        "source-layer": "{{ vector_layer }}",
        "type": "line",
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
            {% if line_dash_array %}
                "line-dasharray": {{ line_dash_array }},
            {% endif %}
            "line-color": {
                "type": "categorical",
                "property": "{{ vector_join_data_property }}", 
                "stops": {{ vector_color_stops }}, 
                "default": "{{ default_color }}"
            }, 
            "line-width": {
                "type": "categorical",
                "property": "{{ vector_join_data_property }}", 
                "stops": {{ vector_width_stops }}, 
                "default": {{ default_width }}
            },

            "line-opacity": {{ opacity }}
        },
        filter: layerFilter
    }, "{{ below_layer }}" );

    // Add label layer
    map.addLayer({
        "id": "label{{ layerId }}",
        "source": "data{{ layerId }}",
        "source-layer": "{{ vector_layer }}",
        "type": "symbol",
        "layout": {
            {% if labelProperty %}
            "text-field": "{{ labelProperty }}",
            {% endif %}
            "text-size" : generateInterpolateExpression('zoom', [[0,8],[22,16]] ),
            "text-offset": [0,-1]
        },
        "paint": {
            "text-halo-color": "{{ label_halo_color }}",
            "text-halo-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ label_halo_width }}], [18,5* {{ label_halo_width }}]]),
            "text-color": "{{ label_color }}"
        },
        filter: layerFilter
    }, "{{below_layer}}" );

{% endblock linestring %}

{% block linestring_popup %}

    // Create a popup
    var popup{{ layerId }} = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
    });

    // Show the popup on mouseover
    map.on('mousemove', "linestring{{ layerId }}", function(e) {
        map.getCanvas().style.cursor = 'pointer';
        
        let f = e.features[0];
        let popup_html = '<div>';

        for (key in f.properties) {
            popup_html += '<li><b> ' + key + '</b>: ' + f.properties[key] + ' </li>'
        }

        // Add property from joined data to vector's feature popup
        {% if color_property %}
            popup_html += '<li><b> ' + "{{ color_property }}".toUpperCase() + '</b>: ' + popUpKeys[f.properties["{{ vector_join_data_property }}"]] + ' </li>'
        {% endif %}

        {% if width_property %}
            {% if color_property != width_property %}
                popup_html += '<li><b> ' + "{{ width_property }}".toUpperCase() + '</b>: ' + line_widthPopUpKeys[f.properties["{{ vector_join_data_property }}"]] + ' </li>'
            {% endif %}
        {% endif %}

        popup_html += '</div>'
        popup{{ layerId }}.setLngLat(e.lngLat)
            .setHTML(popup_html)
            .addTo(map);
    });

{% endblock linestring_popup %}
