{% extends "choropleth.html" %}

{% block choropleth %}

    // extract JSON property used for data-driven styling to add to popup
    {% if join_data %}

        let join_data = {{ join_data }};
        var popUpKeys = {},
            heightPopUpKeys = {};

        // Create filter for layers from join data
        let layerFilter = ['in', "{{ vector_join_data_property }}"]
        
        join_data.forEach(function(row, index) {
            popUpKeys[row["{{ data_join_property }}"]] = row["{{ color_property }}"];
            
            {% if extrude_choropleth %}
                {% if color_property != height_property %}
                    heightPopUpKeys[row["{{ data_join_property }}"]] = row["{{ height_property }}"];
                {% endif %}
            {% endif %}

            layerFilter.push(row["{{ data_join_property }}"]);
        });

    {% endif %}

    // Add vector data source
    map.addSource("data{{ layerId }}", {
        type: "vector",
        url: "{{ vector_url }}",
    });

    // Add layer from the vector tile source with data-driven style
    map.addLayer({
        "id": "choropleth-fill{{ layerId }}",
        "type": "fill",
        "source": "data{{ layerId }}",
        "source-layer": "{{ vector_layer }}",
        "paint": {
            "fill-color": {
                "type": "categorical",
                "property": "{{ vector_join_data_property }}", 
                "stops": {{ vector_color_stops }}, 
                "default": "{{ default_color }}"
            }, 
            "fill-opacity": {{ opacity }}
        },
        filter: layerFilter
    }, "{{ below_layer }}");

    // Add border layer
    map.addLayer({
        "id": "choropleth-line{{ layerId }}",
        "source": "data{{ layerId }}",
        "source-layer": "{{ vector_layer }}",
        "type": "line",
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
            {% if line_dash_array %}
                "line-dasharray": {{ line_dash_array }},
            {% endif %}
            "line-color": "{{ line_color }}",
            "line-width": {{ line_width }},
            "line-opacity": {{ opacity }}
        },
        filter: layerFilter
    }, "{{ below_layer }}" );

    // Add label layer
    map.addLayer({
        "id": "choropleth-label{{ layerId }}",
        "source": "data{{ layerId }}",
        "source-layer": "{{ vector_layer }}",
        "type": "symbol",
        "layout": {
            {% if labelProperty %}
            "text-field": "{{ labelProperty }}",
            {% endif %}
            "text-size" : generateInterpolateExpression('zoom', [[0,8],[22,16]] ),
            "text-offset": [0,-1]
        },
        "paint": {
            "text-halo-color": "white",
            "text-halo-width": 1
        },
        filter: layerFilter
    }, "{{ below_layer }}" );

    // Optional extrusion layer
    {% if extrude_choropleth %}
    
        map.addLayer({
            id: "choropleth-extrusion{{ layerId }}",
            type: "fill-extrusion",            
            "source": "data{{ layerId }}",
            "source-layer": "{{ vector_layer }}",
            paint: {
                "fill-extrusion-opacity": {{ opacity }},
                "fill-extrusion-color": {
                    "type": "categorical",
                    "property": "{{ vector_join_data_property }}", 
                    "stops": {{ vector_color_stops }}, 
                    "default": "{{ default_color }}"
                },
                "fill-extrusion-height": {
                    "type": "categorical",
                    "property": "{{ vector_join_data_property }}", 
                    "stops": {{ vectorheight_stops }}, 
                    "default": {{ default_height }}
                }
            },
            filter: layerFilter
        }, "{{ below_layer }}");

    {% endif %}

{% endblock choropleth %}

{% block choropleth_popup %}

    // Create a popup
    var popup{{ layerId }} = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
    });

    // Show the popup on mouseover
    map.on('mousemove', "choropleth-fill{{ layerId }}", function(e) {
        map.getCanvas().style.cursor = 'pointer';
        
        let f = e.features[0];
        let popup_html = '<div>';

        for (key in f.properties) {
            popup_html += '<li><b> ' + key + '</b>: ' + f.properties[key] + ' </li>'
        }

        // Add property from joined data to vector's feature popup
        popup_html += '<li><b> ' + "{{ color_property }}".toUpperCase() + '</b>: ' + popUpKeys[f.properties["{{ vector_join_data_property }}"]] + ' </li>'
        
        {% if extrude_choropleth %}
            {% if color_property != height_property %}
                popup_html += '<li><b> ' + "{{ height_property }}".toUpperCase() + '</b>: ' + heightPopUpKeys[f.properties["{{ vector_join_data_property }}"]] + ' </li>'
            {% endif %}
        {% endif %}

        popup_html += '</div>'
        popup{{ layerId }}.setLngLat(e.lngLat)
            .setHTML(popup_html)
            .addTo(map);
    });

{% endblock choropleth_popup %}
